APP_NAME=todo_app
PORT=3000
APP_URL=http://localhost:3000

NODE_ENV=development
API_PREFIX=/api/v1
LOG_LEVEL=info

MONGO_URI=mongodb://<username>:<password>@<host>:<port>/<db_name>?replicaSet=rs0&authSource=<db_name>

JWT_SECRET=<jwt_secret_key>
JWT_EXPIRES_IN=7d

REDIS_HOST=todo_redis
REDIS_PORT=6379
REDIS_PASSWORD=<password>

SMTP_HOST=smtp.gmail.com
SMTP_PORT=465
SMTP_SECURE=true
SMTP_USER=fastfone.shop@gmail.com
SMTP_PASS=<password>
SMTP_FROM="FastPhone <fastfone.shop@gmail.com>"
